@font-face {
    font-family: Designer;
    src: url('../../fonts/DESIGNER.otf');
}

@font-face {
    font-family: Coolvetica;
    src: url('../../fonts/coolvetica rg.otf');
}

@font-face {
    font-family: Berlin;
    src: url('../../fonts/Berlin Email 2.ttf');
}

@font-face {
    font-family: Bebas;
    src: url('../../fonts/BebasNeue-Regular.otf');
}

@font-face {
    font-family: Lemon;
    src: url('../../fonts/LEMONMILK-Regular.otf');
}

@font-face {
    font-family: Typo;
    src: url('../../fonts/TypoSlab Irregular Demo.otf');
}

@font-face {
    font-family: Avenue;
    src: url('../../fonts//Avenue.otf');
}

@font-face {
    font-family: Cereal;
    src: url('../../fonts/Cereal.otf');
}

@font-face {
    font-family: CerealLight;
    src: url('../../fonts/CerealLight.otf');
}

@font-face {
    font-family: CerealBold;
    src: url('../../fonts/CerealBoldL.otf');
}

/* BOTONES GLOBALES */

.btn-success {
    transition: 0.2s;
    color: #fff;
    background-color: #71dd37;
    border-color: #71dd37;
    box-shadow: 0 0.125rem 0.25rem 0 rgba(113, 221, 55, 0.4);
}

.btn-success:hover {
    color: #fff;
    background-color: #66c732;
    border-color: #66c732;
    transform: translateY(-1px);
}

.btn-check:active {
    color: #fff;
    background-color: #66c732;
    border-color: #66c732;
    transform: translateY(0);
    box-shadow: none;
    transition: 1ms;
}

.btn-warning {
    transition: 0.2s;
    color: #fff;
    background-color: #ffab00;
    border-color: #ffab00;
    box-shadow: 0 0.125rem 0.25rem 0 rgba(255, 171, 0, 0.4);
}

.btn-warning:hover {
    color: #fff;
    background-color: #e69a00;
    border-color: #e69a00;
    transform: translateY(-1px);
}

.btn-warning:active {
    color: #fff;
    background-color: #e69a00;
    border-color: #e69a00;
    transform: translateY(0);
    box-shadow: none;
    transition: 1ms;
}

.btn-danger {
    transition: 0.2s;
    color: #fff;
    background-color: #ff3e1d;
    border-color: #ff3e1d;
    box-shadow: 0 0.125rem 0.25rem 0 rgba(255, 62, 29, 0.4);
}

.btn-danger:hover {
    color: #fff;
    background-color: #e6381a;
    border-color: #e6381a;
    transform: translateY(-1px);
}

.btn-danger:active {
    color: #fff;
    background-color: #e6381a;
    border-color: #e6381a;
    transform: translateY(0);
    box-shadow: none;
    transition: 1ms;
}

.btn-primary {
    transition: 0.2s;
    color: #fff;
    background-color: #011684;
    border-color: #011684;
    box-shadow: 0 0.125rem 0.25rem 0 rgba(0, 18, 108, 0.4);
}

.btn-primary:hover {
    color: #fff;
    background-color: #01105c;
    border-color: #01105c;
    transform: translateY(-1px);
}

.btn-primary:active {
    color: #fff;
    background-color: #001a9e;
    border-color: #001a9e;
    transform: translateY(0);
    box-shadow: none;
    transition: 1ms;
}

/* ------------------------------------- */

h1{
    font-family: Cereal;
}

h5{
    font-family: Cereal;
}

input{
    font-family: CerealLight;
}

.navTitle{
    font-family: Designer;
    font-size: 60px;
    margin-top: -15px;
    margin-bottom: -15px;
}

.dashTitle {
    font-family: Designer;
    font-size: calc(3vw + 3vh);
}

.textAec {
    color: #c7c6c9;
    transition: 0.2s;
}

.textAec:hover {
    color: #607484;

}

.textMenu {
    font-family: Coolvetica;

}

.textOption {
    color: #02192B;
    font-size: larger;
}

.textAdd {
    color: #71dd37;
    font-size: larger;
}

.textUpdate {
    color: #ffab00;
    font-size: larger;
}


.bgDash {
    background-color: #ffffff;
}

/* *{
    color: white;
} */